{% extends "MainApp/wrapper.html" %}
{% block title%}
  Введение
{%endblock%}

{% block content %}
<text>Счастливым билетом является билет, сумма первых трех цифр которого равна сумме трех последних цифр. <b>Например,</b>
    счастливым является билет <em><b>903732</b></em> (9+0+3 = 12; 7+3+2 = 12). Вашей задачей будет найти следующий ближайший счастливый билет после данного вам.
    <b>Например,</b> вам дан билет <em><b>789456</b></em> следующий за ним счастливый билет
    будет <em><b>789699</b></em>.
</text>
<h1></h1>
<a class="btn btn-success btn-lg" href="{{strategy}}/taskList/">Начать</a>

{% endblock %}