{% extends "mainApp/wrapper.html" %}
{% block title%}
  Статистики
{%endblock%}

{% block content%}

    <h1>Статистика</h1>
    <a href="1/" class="button">Статистика по стратегии 1</a>
    <hr>
    <a href="2/" class="button">Статистика по стратегии 2</a>
    <hr>
    <a href="3/" class="button">Статистика по стратегии 3</a>
    <hr>
    <a href="4/" class="button">Статистика по стратегии 4</a>
    <hr>
    <a href="5/" class="button">Статистика по стратегии 5</a>
    <hr>
    <a href="6/" class="button">Статистика по стратегии 6</a>
    <hr>
    <a href="7/" class="button">Статистика по стратегии 7</a>
    <hr>
    <a href="8/" class="button">Статистика по стратегии 8</a>

{% endblock %}