{% extends "mainApp/wrapper.html" %}
{% block title%}
  Билет №{{task.Quest}}
{%endblock%}


{% block content%}
    <h2 class="text-info">{{task.Quest}}</h2>
    <h3> Ваши ответы: </h3>
    {% for variant in variants %}
    <h4>{{variant.Variant}}  Время: <em>{{variant.Time}}</em> секунд</h4>
    {% endfor %}
    <h4 align="left">Напишите следующий счастливый билет</h4>
    <form action="addvariant/{{task.id}}" method="post">

        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-primary btn-lg" value="Подтвердить">

    </form>

{% endblock %}