{% extends "mainApp/wrapper.html" %}
{% block title%}
  Sign up
{%endblock%}

{% block content %}
    <h3 align="center" style="color: white">Регистрация</h3>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p style="color: white" style="text-align-all: center">
        {{ field.label_tag}}

        <br style="align-content: center">

        {{ field }}

        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
    <a type="button" href = 'mainApp/template/login.html'> Login form </a>
  </form>
{% endblock %}
