<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%} {%endblock%}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}" type="text/css">

</head>
<body link="red" vlink="#cecece" alink="#ff0000" bgcolor="white" >


    <div class ="login-submit">
        <div class="vladmaxi-top">

            {% block content%}
            {% endblock %}

        </div>
    </div>
    <div class="container">

        <hr>

    </div>
</body>
</html>